body{
background: #F9F9F9;
}

h2{
border-bottom: 1px #CCC solid;
}

.top_float{
	margin: 0;
	float:right;
}

.cardlist{
    padding-left: 5px;
}

.cardlist li{
  list-style-type: none;
  padding:1rem 1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  transform-origin:top left;
}

/* ------------------------------------
 * Clearfix フロートの調整用
 -------------------------------------*/ 
.clearfix:after{content: "."; display: block; clear: both; height: 0; visibility: hidden;}
.clearfix{min-height: 1px;}
* html .clearfix{height: 1px;
  /**//*/
  height: auto;
  overflow: hidden;
  /**/
}
